<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            <Class>*Program</Class>
            <Class>*.Migrations.*</Class>
            <File>**/Program.cs</File>
            <File>**/Migrations/*.Designer.cs</File>
            <File>**/Migrations/*.cs</File>
          </Exclude>
          <Include>
            <Module>MaquinaDeCafe*</Module>
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
